# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!checkstyle.xml
!.codeclimate.yml
!wrk/*
!wrk/output/stage_2/*
!wrk/output/stage_3/*
!wrk/output/stage_4/*
!profiler/stage_3/*
!profiler/stage_4/*

# ...even if they are in subdirectories
!*/
